*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins',sans-serif;
}
body{
    background: #2E3047;
    color: #a96356;
    overflow: hidden;
    overflow-y: scroll;

}